<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=TELERIK\SQLEXPRESS;Initial Catalog=RFID;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>

      </controls>
    </pages>
    <httpHandlers>

    </httpHandlers>
    <httpModules>

    </httpModules>
        <authentication mode="Forms" />
        <identity impersonate="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">

    </modules>
    <handlers>
      <remove name="ChartImage_axd" />

    </handlers>
  </system.webServer>
</configuration>